{% extends "base_template.html" %}

  
  
  {% block content %}
    
  <!doctype html>
<html lang="es">

  


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>C-PSICOLOGICO</title>
  <link rel="stylesheet" href="css/base.css">
  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>
  <div class="container-fluid">



    <header id="masthead" class="site-header " role="banner">
      <div class="header-wrap">
        <h1> CENTRO PSICOLOGICO</h1>
    </div>
<!--ejempl-->
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a href="/index1.html">Home</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="/base">base de datos</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/ubicacion">Ubicacion</a></li>
    </ul>
  </nav>
</div>

<!--fin ejemplo-->


      
    </header>
   <!--ejemplo- <nav>
      <div class="col-md-12">
        <ul class="nav-menu list-inline text-xl-center">
          <div class="btn-group-horizontal conteiner">
            
            <a class="btn btn-warning" href="" role="button"></a>
            <a class="btn btn-warning" href="servicios.html" role="button">Servicios</a>
            <a class="btn btn-warning" href="staff.html" role="button">Staff</a>
            <a class="btn btn-warning" href="contacto.html" role="button">Contacto</a>
            <a class="btn btn-warning" href="ubicacion.html" role="button">Ubicacion</a>
          </div>
            </div>

    </nav>->


< fin ejemplo-->




    <section>


      <div class="carousel content-center">
        <!-- #region -->
        
         

        <div id="carouselCaptions" class="carousel slide " data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselCaptions" data-slide-to="1"></li>
            <li data-target="#carouselCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner ">
            <!-- nborrar-->
           
          <!-- nborrar-->


<!-- nborrar-->


            <div class="carousel-item active">
              <img src="static/img/imagen2.jpg" class="d-block w-100" alt="laboral">
              <div class="carousel-caption d-none d-md-block content-center">
                <h5>Nunca te enseñaron cómo hablar con tus gestos,<br>
                 pero si fuiste enseñado a hablar con palabras </h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/img/imagen3.jpg" class="d-block w-100" alt="familia">
              <div class="carousel-caption d-none d-md-block content-center">
                <h5>Tú eres aquello que haces, <br>
                no aquello que dices que harás </h5>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/img/imagen4.jpg" class="d-block w-100 " alt="penal">
              <div class="carousel-caption d-none d-md-block content-center">
                <h5>No te conviertas en una simple grabadora de hechos; <br>
                trata de penetrar en el misterio de sus orígenes</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">anterior</span>
          </a>
          <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">siguiente</span>
          </a>
        </div>
    
        <!-- #region -->
      </div>

    </section>
    <br>
    <br>
    <footer id="pie_pagina" class="site-footer">

      <div class="">
        <ul class="social-footer">
          <li class="list-inline-item">
            <a href="https://twitter.com/"> <span class="fab fa-twitter"> </span> </a>
            <a href="https://web.whatsapp.com/"> <span class="fab fa-whatsapp-square"> </span> </a>
            <a href="https://www.instagram.com/?hl=es-la"> <span class="fab fa-instagram"> </span> </a>
            <a href="https://www.facebook.com/"> <span class="fab fa-facebook-square"></span></a>
            <a href="https://ar.linkedin.com/"> <span class="fab fa-linkedin"></span></a>
          </li>
        </ul>
      </div>





      <div class="site-info conteiner">
        <div>
          <a href="index.html">CENTRO PSICOLOGICO INTEGRAL</a> <br>
          
          <a href="tel://0114445555">TEL: 0114445555 </a><br>
          <a href="mailto:CENTROINTEGRAL@gmail.com">email:CENTROINTEGRAL@gmail.com</a></div><br>

        <p> © 2021 Buenos Aires. Todos los derechos reservados</p>
      </div>

      <a href="/base" class="btn btn-primary">Base de datos</a>

      
     

    </footer>
  </div>

  
</body>

</html>
{% endblock %}