{% extends "base_template.html" %}

  
  
  {% block content %}


<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>C-PSICOLOGICO</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- iconos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">



        <header id="masthead" class="site-header " role="banner">
            <div class="header-wrap">
              <h1> CENTRO PSICOLOGICO</h1>
          </div>
      <!--ejempl-->
      <div class="respmenu">
        <input type="checkbox">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        
        <nav>
            <ul>
                  <li><a href="/pagina">Home</a></li>
                  <li><a href="/servicios">Servicios</a></li>
                  <li><a href="/base">base de datos</a></li>
                  <li><a href="/contacto">Contacto</a></li>
                  <li><a href="/ubicacion">Ubicacion</a></li>
            </ul>
          </nav>
        
        
      </div>
      
      <!--fin ejemplo-->
      
      
            
          </header>
        <section>
            <!--ejemplo-->

            <!--  fin ejemplo-->
            <DIV class="servicios">
                <h2>Servicio de Psicologia</h2> <br>
                <h3>El objetivo principal de este servicio es el bienestar emocional, personal y social del usuario,<br>para
                    mejorar su calidad de vida y su inclusión social, a través de la evaluación, orientación y en su <br>
                    caso, intervención o derivación. Este objetivo se lleva a cabo a través del trabajo con el usuario, <br>
                    familias, profesionales y otros agentes.</h3><br>

                    <h2>Los objetivos de este servicio son:</h2>
                <ol>
                <h4>- Potenciar el repertorio de habilidades adaptativas de los usuarios.</h4>
                <h4>- Promover las habilidades sociales y de interacción.</h4>

                <h4> - Entrenar en las habilidades de toma de decisiones y de resolución de problemas prácticos.</h4>

                <h4>- Favorecer un proceso de madurez personal y de autonomía.</h4>
                <h4>- Potenciar un bienestar psicológico y ayudar a manejar conflictos y otros problemas, de relación, etc.</h4>
                </ol>
               
            </DIV>


        </section>
        <br>
        <br>
        <footer id="pie_pagina" class="site-footer">

            <div class="">
                <ul class="social-footer">
                  <li class="list-inline-item">
                    <a href="https://twitter.com/"> <span class="fab fa-twitter"> </span> </a>
                    <a href="https://web.whatsapp.com/"> <span class="fab fa-whatsapp-square"> </span> </a>
                    <a href="https://www.instagram.com/?hl=es-la"> <span class="fab fa-instagram"> </span> </a>
                    <a href="https://www.facebook.com/"> <span class="fab fa-facebook-square"></span></a>
                    <a href="https://ar.linkedin.com/"> <span class="fab fa-linkedin"></span></a>
                  </li>
                </ul>
              </div>





            <div class="site-info conteiner">
                <div>
                    <a href="index.html">CENTRO PSICOLOGICO INTEGRAL</a> <br>
                    
                    <a href="tel://0114445555">TEL: 0114445555 </a><br>
                    <a href="mailto:CENTROINTEGRAL@gmail.com">email:CENTROINTEGRAL@gmail.com</a>
                </div><br>

                <p> © 2021 Buenos Aires. Todos los derechos reservados</p>
            </div>

        </footer>
    </div>


</body>

</html>

{% endblock %}