{% extends "base_template.html" %}

  
  
  {% block content %}


<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>C-PSICOLOGICO</title>
  <link rel="stylesheet" href="css/style.css">
  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>
<body>  
  <div class="container-fluid">



    <header id="masthead" class="site-header " role="banner">
      <div class="header-wrap">
        <h1> CENTRO PSICOLOGICO</h1>
    </div>
<!--ejempl-->
<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  
  <nav>
    <ul>
          <li><a href="/pagina">Home</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/base">base de datos</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/ubicacion">Ubicacion</a></li>
    </ul>
  </nav>
  
</div>

<!--fin ejemplo-->


      
    </header>
<section>
       


              <!--mapa-->
              <div class="mapa">
                <h3> Nos encontramos en le Barrio de Caballito</h3>
                <h4>sobre avenida Rivadavia 6222, piso 11° consultorio "F" </h4>
                <br>
                

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.140374582027!2d-58.456448284228394!3d-34.625892766179796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca24fe350f33%3A0x6c3e9203a4f1395c!2sAv.%20Rivadavia%206222%2C%20C1406GLS%20CABA!5e0!3m2!1ses!2sar!4v1621384358957!5m2!1ses!2sar"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
          
              </div>
              <!--fin mapa-->
</section>
    

<footer id="pie_pagina" class="site-footer">
  <div class="">
    <ul class="social-footer">
      <li class="list-inline-item">
        <a href="https://twitter.com/"> <span class="fab fa-twitter"> </span> </a>
        <a href="https://web.whatsapp.com/"> <span class="fab fa-whatsapp-square"> </span> </a>
        <a href="https://www.instagram.com/?hl=es-la"> <span class="fab fa-instagram"> </span> </a>
        <a href="https://www.facebook.com/"> <span class="fab fa-facebook-square"></span></a>
        <a href="https://ar.linkedin.com/"> <span class="fab fa-linkedin"></span></a>
      </li>
    </ul>
  </div>

    <div class="site-info conteiner">
      <div>
        <a href="index.html">Centro Psicologico Integral</a> <br>
        
        <a href="tel://0114445555">TEL: 0114445555 </a><br>
        <a href="mailto:CENTROINTEGRAL@gmail.com">email: CENTROINTEGRAL@gmail.com</a></div><br>

      <p> © 2021 Buenos Aires. Todos los derechos reservados</p>
    </div>

  </footer>
</div>

</div>
</body>

</html>

{% endblock %}